{% extends 'base.html.twig' %}

{% block title %}New Incidence{% endblock %}

{% block body %}
    <h1>Create new Incidence</h1>

    {{ include('incidence/_form.html.twig') }}

    <a href="{{ path('incidence_index') }}">back to list</a>
{% endblock %}