{% extends 'base.html.twig' %}

{% block title %}Edit Commit{% endblock %}

{% block body %}
    <h1>Edit Commit</h1>

    {{ include('commit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commit_index') }}">back to list</a>

    {{ include('commit/_delete_form.html.twig') }}
{% endblock %}