{% extends 'base.html.twig' %}

{% block title %}Edit Tasktype{% endblock %}

{% block body %}
    <h1>Edit Tasktype</h1>

    {{ include('tasktype/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tasktype_index') }}">back to list</a>

    {{ include('tasktype/_delete_form.html.twig') }}
{% endblock %}