{% extends 'base.html.twig' %}

{% block title %}New Tasktype{% endblock %}

{% block body %}
    <h1>Create new Tasktype</h1>

    {{ include('tasktype/_form.html.twig') }}

    <a href="{{ path('tasktype_index') }}">back to list</a>
{% endblock %}