{% extends 'base.html.twig' %}

{% block title %}Edit TypeBranch{% endblock %}

{% block body %}
    <h1>Edit TypeBranch</h1>

    {{ include('type_branch/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_branch_index') }}">back to list</a>

    {{ include('type_branch/_delete_form.html.twig') }}
{% endblock %}